/* apply a natural box layout model to all elements, but allowing components to change */
.wrap  {
	box-sizing: border-box;
}
.wrap *, .wrap *:before, .wrap *:after {
	box-sizing: inherit;
}

.wrapper {

	font-family: sans-serif;
	font-size: 13px;
	position: fixed;
	width: 45%;
	/*max-height: 70%;*/
	bottom: 2em;
	top: 2em;
	right: 2em;
	overflow: auto;

	background: #112;
	color: white;

	opacity: 1;
	transform: translate(0,0);

	transition: 0.2s all ease;

}

.wrapper--hidden {

	opacity: 0;
	transform: translate(0,20px);

}

.wrap {
	padding: 1.5em 1.2em;
	width: 100%;
	overflow: hidden;
}

.wrap .collection,
.wrap > .wrap {
	background: rgba(220, 220, 255, 0.1);
	padding: 1em 0.5em 0.5em;
	margin: 0.7em 0;
}

.wrap .collection__items > .wrap {
	background: #112;
	padding: 1.2em 0.7em 0.7em;
	margin: 0;
}
.wrap .collection__items > .wrap + .wrap {
	border-top: 1px dashed #333;
}

.wrap .collection button {
	width: 100%;
	padding: 0.3em;
}

.temp-remove-collection-item {
	display: none;
}

.collection__items > .wrap > h2 .temp-remove-collection-item {
	display: inline-block;
  float: right;
  font-size: 0.6em;
  line-height: 2.1;
}

.wrap h2,
.wrap h3 {
  padding: 0 0 0.6em;
  margin: 0;
}

.wrap h3 {
	text-align: center;
}

.wrapper label {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.wrapper label span {
	padding: 0.4em 0 0;
	display: inline-block;
}

.wrapper button {
	background: #8ED8B6;
}

.wrapper input,
.wrapper select,
.wrapper button {
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
	outline: none;
	padding: 0.4em;
	border-radius: 0;
}

.wrapper label > input,
.wrapper label > select,
.wrapper label > button {
	float: right;
	width: 60%;
}

.wrapper__buttons {
	position: fixed;
	bottom: 2em;
	width: 45%;
}

.wrapper__buttons button {
	width: 33.3333%;
	float: left;
}