/* apply a natural box layout model to all elements, but allowing components to change */
.reactive-constructor-cms__main-wrapper,
.reactive-constructor-cms__select-overview {
	box-sizing: border-box;
}

.reactive-constructor-cms__main-wrapper,
.reactive-constructor-cms__main-wrapper *,
.reactive-constructor-cms__main-wrapper *:before,
.reactive-constructor-cms__main-wrapper *:after,
.reactive-constructor-cms__select-overview *,
.reactive-constructor-cms__select-overview *:before,
.reactive-constructor-cms__select-overview *:after {
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	letter-spacing: 0;
}

.reactive-constructor-cms__select-overview,
.reactive-constructor-cms__main-wrapper{
	font-size: 13px;
	position: fixed;
}


.reactive-constructor-cms__main-wrapper {

	width: 45%;
	min-width: 600px;
	bottom: 2em;
	top: 2em;
	right: 2em;
	overflow: auto;

	background: #E7E7E7;
	background: linear-gradient(to bottom right, #E7E7E7, #B0B0B0);
	color: #050505;

	opacity: 1;
	transform: translate(0,0);

	transition: 0.3s transform ease, 0.1s opacity ease;

	box-shadow: 0 3px 30px rgba( 0, 0, 0, 0.2 );

}

.reactive-constructor-cms__main-wrapper.reactive-constructor-cms__main-wrapper--hidden {

	opacity: 0;
	transform: translate(0,20px);

}

.reactive-constructor-cms__main-wrapper__editable-fields{
	height: 100%;
	overflow: auto;
	padding-bottom: 7.5em;
}

.reactive-constructor-cms__instance-wrapper {
	width: 100%;
	/*overflow: hidden;*/
	position: relative;
	box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.2 );
}

.reactive-constructor-cms__instance-wrapper--nested{
  margin: 0 0 2% 2%;
  width: 96%;
}

.reactive-constructor-cms__list-of-instances {
	/*background: linear-gradient(to bottom right, #E7E7E7, #B0B0B0);*/
	padding: 2%;
	margin: 0;
}

.reactive-constructor-cms__list-of-instances__key,
.reactive-constructor-cms__nested-instance__key{
	font-style: italic;
	display: inline-block;
	font-weight: bold;
	color: #999;
	padding: 0 0.6em 0.6em;
}

.reactive-constructor-cms__nested-instance__key{
	margin: 2% 2% 0;
}

.reactive-constructor-cms__list-of-instances__instances > .reactive-constructor-cms__instance-wrapper {
	margin-bottom: 2%;
}

.reactive-constructor-cms__nested-instance__none-added-yet-button-wrapper{
	margin: 0 2% 2%;
}
.reactive-constructor-cms__nested-instance__none-added-yet-button-wrapper button{
	width: 100%;
}

.reactive-constructor-cms__list-of-instances button {
	width: 100%;
	padding: 0.3em;
}

.reactive-constructor-cms__main-wrapper > 
.reactive-constructor-cms__main-wrapper__editable-fields > 
.reactive-constructor-cms__instance-wrapper > 
.reactive-constructor-cms__instance-wrapper__header .reactive-constructor-cms__instance-wrapper__instance-buttons {
	display: none !important;
}

.reactive-constructor-cms__main-wrapper a{
	cursor: pointer;
}
.reactive-constructor-cms__main-wrapper a:hover{
	color: #8ED8B6;
}

.reactive-constructor-cms__instance-wrapper__instance-buttons{
	display: inline;
}

.reactive-constructor-cms__main-wrapper label {
	display: block;
	width: 100%;
	overflow: hidden;
	background: white;
}

.reactive-constructor-cms__main-wrapper label:hover {
	background: #FFF9CD;
}

.reactive-constructor-cms__main-wrapper .reactive-constructor-cms__label--no-hover:hover{
	background: white;
}

.reactive-constructor-cms__main-wrapper label + label {
	border-top: 1px solid #979797;
}

.reactive-constructor-cms__main-wrapper label span {
	padding: 9px 10px 0.15em;
	display: inline-block;
	font-style: italic;
	color: #b4b4b4;
}

.reactive-constructor-cms__main-wrapper input,
.reactive-constructor-cms__main-wrapper select,
.reactive-constructor-cms__main-wrapper button,
.reactive-constructor-cms__main-wrapper textarea {
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 1em;
  border: none;
	outline: none;
	padding: 10px !important;
	margin: 0 !important;
	border-radius: 0 !important;
}

.reactive-constructor-cms__main-wrapper button {
	background: none;
	color: white;
	border: 2px solid white;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px !important;
}

.reactive-constructor-cms__main-wrapper button:hover {
	background: #FFF9CD;
	border-color: #FFF9CD;
	color: black;
}

.reactive-constructor-cms__main-wrapper .reactive-constructor-cms-ACTION--change-value-using-overview{
	color: black;
	background: #FFF9CD;
	width: 100%;
	margin-top: -8px !important;
}

.reactive-constructor-cms__main-wrapper .reactive-constructor-cms-ACTION--change-value-using-overview:hover{
	background: #eee;
	border-color: #eee;
}

.reactive-constructor-cms__main-wrapper input,
.reactive-constructor-cms__main-wrapper textarea {
	background: inherit;
	font-size: 16px !important;
	padding-top: 0 !important;
}

.reactive-constructor-cms__main-wrapper textarea{
	height: 200px;
}

.reactive-constructor-cms__main-wrapper select{
	height: 2.3em;
	width: 100%;
	background: #FFF9CD;
}

.reactive-constructor-cms__select-wrapper{
	padding: 3px 7px 9px;
	width: 100%;
}

.reactive-constructor-cms__main-wrapper label > input,
.reactive-constructor-cms__main-wrapper label > select,
.reactive-constructor-cms__main-wrapper label > button,
.reactive-constructor-cms__main-wrapper label > textarea {
	width: 100%;
}

.reactive-constructor-cms__main-wrapper input:disabled{
	color: #444;
	font-weight: bold;
}

.reactive-constructor-cms__main-wrapper__buttons {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to bottom right, #E7E7E7, #B0B0B0);
	padding: 10px 10px 0;
	border-top: 2px solid #555;
}

.reactive-constructor-cms__main-wrapper__buttons button {
	width: 22%;
	display: inline-block;
	padding: 4px 0;
	margin: 0 6px 10px 0 !important;
	border: none;
	background: #FFF9CD;
	color: black;
	font-weight: normal;
}

.reactive-constructor-cms__main-wrapper__buttons button:hover{
	background: #eee;
}

.reactive-constructor-cms__main-wrapper__buttons button:last-child {
	border-right: none;
}

.reactive-constructor-cms__instance-wrapper__header{
	position: absolute;
	padding: 0 0 0.6em;
  margin: -3px -3px 0 0;
	font-size: 1em;
	font-weight: bold;
	right: 0;
	opacity: 0;
	transition: 0.2s opacity ease;
}

.reactive-constructor-cms__instance-wrapper__header--visible{
	opacity: 1;
}

.reactive-constructor-cms__instance-wrapper__header > span,
.reactive-constructor-cms__instance-wrapper__instance-buttons a{
	background: #333;
	color: white;
	padding: 0.2em 0.4em;
	font-size: 12px;
	display: inline-block;
}

.reactive-constructor-cms__instance-wrapper__header > span {
	letter-spacing: 0.03em;
}

.reactive-constructor-cms__instance-wrapper__header__text--light{
	opacity: 0.4;
	font-weight: normal;
	text-transform: uppercase;
}

.reactive-constructor-cms__select-overview{
	margin-top: 10%;
  left: 20%;
  width: 60%;
  background: #FFF;
	padding: 1em 1.6em 1.6em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.reactive-constructor-cms__select-overview--hidden{
	opacity: 0;
}
.reactive-constructor-cms__select-overview ul{
	border-top: 1px solid #eee;
}
.reactive-constructor-cms__select-overview ul,
.reactive-constructor-cms__select-overview li{
	padding: 0;
	margin: 0;
	display: block;
}
.reactive-constructor-cms__select-overview li a{
	display: inline-block;
	width: 100%;
	padding: 0.3em;
	cursor: pointer;
	border-bottom: 1px solid #eee;
}
.reactive-constructor-cms__select-overview li a:hover{
	background: #ccc;
}

.reactive-constructor-cms__select-overview__fader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	opacity: 0.4;
}

.reactive-constructor-cms__select-overview__toggle-view{
	float: right;
	font-size: 0.6em;
	padding-top: 0.6em;
}
.reactive-constructor-cms__select-overview__img-preview{
	float: left;
	width: 31%;
	border: 1px solid #eee;
	margin: 1%;
	text-align: center;
	padding: 0.5em 0.5em 0.6em;
	cursor: pointer;
	overflow: hidden;
}
.reactive-constructor-cms__select-overview__img-preview:hover{
	border-color: #aaa;
}
.reactive-constructor-cms__select-overview__img-preview a {
	max-width: 100%;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.reactive-constructor-cms__select-overview__img-preview__img{
	height: 150px;
	width: auto;
	margin: 0 0 0.6em;
	background: #EEE center;
  background-size: cover;
}

.reactive-constructor-cms__input__preview-img {
  height: 150px;
  width: 100%;
  float: right;
  background: #414141 center no-repeat;
  background-size: contain;
}

.reactive-constructor-cms-ACTION--open-child-instance,
.reactive-constructor-cms-ACTION--open-child-instance input{
	cursor: pointer;
}

.reactive-constructor-cms__msgs .msgs__message{
	background: white;
	text-align: center;
	margin: 0 0 10px 0;
	padding: 0.7em;
	color: black;
	font-weight: bold;
	border: 2px solid;
	border-radius: 5px !important;
}
.reactive-constructor-cms__msgs .msgs__message--rc-cms__message--success{
	color: #8ED8B6;
}
.reactive-constructor-cms__msgs .msgs__message--rc-cms__message--error{
	color: #D88EB6;
}
				
				

/* Some edit overlay styles */
.reactive-constructor-cms__live-edit-overlay{
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}
.reactive-constructor-cms__live-edit-overlay--visible{
  opacity: 1;
}
.reactive-constructor-cms__live-edit-overlay__textarea {
  width: 100%;
  height: 100%;
}
